body {
    margin: 0;
}

.body {
    background-image: url("../images/record.png"); /* B&W record background */
    background-repeat: repeat;
}

.header {
    background-color: brown;
    color: aqua;
    text-align: center;
}

.main {
    background-color: lightgray;
    padding: 1em;
}

